.heading {
    margin: 20px 20px 10px 50px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
}

.product-detail {
    margin: 30px;
    background-color: #fafafa;
    border-radius: 25px;
} 

.product-name {
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #1976d2;
}

.product-price {
    margin: 10px;
    font-size: 16px;
}

.product-description {
    margin: 10px;
    font-size: 14px;
}

.buy-btn {
    width: 20%;
    color: white;
    background-color: #1976d2;
    font-size: 15px;
}